@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Buttons
	1.4 - Forms
	1.5 - Lists
	1.6 - Tables
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Sizes
	5.2 - Colors
	5.3 - Alignments
--------------------------------------------------------------*/

* {
	font-family: 'Comfortaa', sans-serif;
}

/*----- 1.0 - Typography -----*/
#bg-cupcake p a, #about p:first-child, #about h2, h2, h3, #about p:last-child a:last-of-type, #our-treats .col:first-of-type a, #our-treats .col:nth-child(2) a, #our-treats .col:last-child a, #place-order p a, #about p:last-child a:last-of-type:hover, #our-treats .col:first-of-type a:hover, #our-treats .col:nth-child(2) a:hover, #our-treats .col:last-child a:hover, #place-order p a:hover, label, form p, legend {
	text-transform: uppercase;
}

#bg-cupcake p a, nav li a, #about p:nth-child(4) a:first-of-type, #about p:last-child a:last-of-type, #our-treats .col:first-of-type a, #our-treats .col:nth-child(2) a, #our-treats .col:last-child a, #place-order p a, #about p:last-child a:last-of-type:hover, #our-treats .col:first-of-type a:hover, #our-treats .col:nth-child(2) a:hover, #our-treats .col:last-child a:hover, #place-order p a:hover {
	text-decoration: none;
}

/*----- 1.4 - Forms -----*/
form {
	padding: 50px 0;
}

input[name="first-name"], input[name="last-name"], input[name="email-address"], input[name="phone"] {
	display: block;
}

input {
	margin-bottom: 50px;
}

label, form p, legend {
	font-size: 12px;
	margin: 0;
}

tr:first-child td, tr:nth-child(2) td {
	border-bottom: 2px solid #000;
	padding: 10px;
}

tr:last-of-type td {
	padding-left: 10px;
}

input[type="text"], input[type="email"], input[type="password"],input[name="phone"], textarea, select {
    background-color: #f1f1f2;
    border: 2px solid transparent;
    width: 400px;
    padding: 8px;
    margin: 10px 0;
}

label:nth-child(2), label:nth-child(3), label:last-child {
	display: inline-block;
}

#place-order .col:last-child {
	float: right;
}

fieldset {
	border: none;
	width: 585px;
	padding: 0;
	margin: 0;
}

form .col {
	width: 585px;
	float: left;
}

form .col .col {
	width: 195px;
	float: left;
}

#quantity, #type {
	margin: 50px 0 20px 0;
}

legend {
	margin: 100px 0 20px 0;
}

form div:nth-child(3) {
	display: inline-block;
}

/*----- 1.5 - Lists -----*/
#about ul li {
	line-height: 35px;
	font-size: 12pt;
	font-weight: 300;
	list-style-image: url(../img/list-bullet.png)
}

/*----- 1.6 - Tables -----*/

table {
	margin: 75px auto;
	width: 600px;
	font-weight: 300;
}

/*----- 3.0 - Content -----*/

/*----- 3.1 - Site Structure -----*/
caption {
	display: none;
}

/*----- 3.2	- Site Header -----*/
#our-treats header p, #place-order header p {
	width: 475px;
	line-height: 30px;
	font-family: 'Roboto Slab', serif;
	margin: 25px auto;
	font-weight: 300;
}

#our-treats .col:first-of-type header, #our-treats .col:nth-child(2) header, #our-treats .col:last-child header {
	margin: 0 auto;
}

/*----- 3.3	- Site Footer */
footer {
	background-color: #427d78; 
}

footer p {
	font-size: 15px;
	line-height: 25px;
	margin: 5px 0;
	font-weight: 300;
}

footer section {
	width: 325px;
	margin: 50px 0;
	vertical-align: top;
}

footer section:nth-child(2) {
	margin-left: 150px;
}

footer h4 {
	margin: 5px 0;
}

footer span {
	display: none;
}

footer li a {
	height: 20px;
	width: 20px;
	float: left;
	margin: 15px 0 0 30px;
}

footer li:first-child a {
	margin-left: 5px;
}

footer li:first-child a {
	background: url("../img/sprite-facebook.png") no-repeat 0 0;
}

footer li:nth-child(2) a {
	background: url("../img/sprite-twitter.png") no-repeat 0 0;
}

footer li:nth-child(3) a {
	background: url("../img/sprite-pinterest.png") no-repeat 0 0;
}

footer li:nth-child(4) a {
	background: url("../img/sprite-linkedin.png") no-repeat 0 0;
}

footer li:last-child a {
	background: url("../img/sprite-google.png") no-repeat 0 0;
}

footer li a:hover {
	background-position: 0 -20px;
}


/*----- 5.2 - Colors -----*/
label, form, p, nav li a, legend {
	color: #442920;
}

#bg-cupcake p a, #daily-flavors h3, #about h2 {
	color: #000;
}

#bg-cupcake div:hover a, #bg-white, #about p:last-child a:last-of-type, #our-treats .col:first-of-type a, #our-treats .col:nth-child(2) a, #our-treats .col:last-child a, #place-order p a, #about p:last-child a:last-of-type:hover, #our-treats .col:first-of-type a:hover, #our-treats .col:nth-child(2) a:hover, #our-treats .col:last-child a:hover, #place-order p a:hover, #our-treats .col:first-of-type a, #our-treats .col:nth-child(2) a, #our-treats .col:last-child a, footer p, footer section {
	color: #fff;
}

#bg-cupcake div:hover, #about p:last-child a:last-of-type:hover, #our-treats .col:first-of-type a:hover, #our-treats .col:nth-child(2) a:hover, #our-treats .col:last-child a:hover, #place-order p a:hover, .circle  {
	background-color: #79cfbc;
}

footer h4, #about p:nth-child(4) a:first-of-type, nav li a:hover {
	color: #79cfbc;
}
	
/*----- 5.3 - Alignments -----*/
#about p:first-child, nav, h2, #our-treats section:first-child p:last-child, #our-treats section:nth-child(2) p:last-child, #our-treats section:last-child p:last-child, #our-treats header p, #place-order header p, #our-treats .col:first-of-type header, #our-treats .col:nth-child(2) header, #our-treats .col:last-child header {
	text-align: center;
}

#about h2, tr td, #about ul li, p {
	text-align: left;
}


.wrapper {
	width: 1170px;
	margin: 0 auto;
}

.row {
	overflow: auto;
}

#bg-cupcake {
	background: url(../img/bg-cupcake.png) no-repeat;
	background-size: cover;
	padding-top: 5px;
}

#bg-cupcake p {
	margin: 450px 0 0 300px;
	padding: 30px 0 20px 0;
}

#bg-cupcake p a {
	font-size: 32px;
}

nav li a {
	padding: 25px;
}

nav li:nth-child(3) {
	vertical-align: middle;
}

#bg-cupcake > div {
	background-color: rgba(255, 255, 255, 0.5);
}

li {
	list-style: none;
	display: inline-block;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

/* section 1 */

#about p:first-child {
	color: #427d78;
	font-size: 35px;
	width: 1000px;
	margin: 75px auto;
}

#about section {
	margin: 0 25px;
}

#about img {
	float: left;
}

#about section:first-of-type {
	width: 500px;
	float: left;
}

#about section:last-of-type {
	margin-left: 100px;
	float: left;
}

#about li {
	display: block;
}


#about h2 {
	font-size: 25px;
	margin-bottom: 25px;
}

#about section p {
	line-height: 30px;
}

#about section:first-of-type p {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 12pt;
}

/* section 2 */

h2 {
	font-size: 35px;
	color: #427d78;
}

h3 {
	font-size: 22px;
	color: #427d78;
	display: inline;
}

#about p:nth-child(4) a:first-of-type {
	font-family: 'Roboto Slab', serif;
}

#about p:nth-child(4) a:first-of-type:hover {
	color: #e9d089;
	font-family: 'Roboto Slab', serif;
}

#about p:last-child a:last-of-type, #our-treats .col:first-of-type a, #our-treats .col:nth-child(2) a, #our-treats .col:last-child a, #place-order p a {
	background-color: #e9d089;
	padding: 15px 25px;
	font-size: 15px;
}

#about p:last-child a:last-of-type:hover, #our-treats .col:first-of-type a:hover, #our-treats .col:nth-child(2) a:hover, #our-treats .col:last-child a:hover, #place-order p a:hover {
	padding: 15px 25px;
}

#about {
	margin-bottom: 100px;
}

/* section 3 */
.circle {
	height: 175px;
	width: 175px;
	border-radius: 50%;
	margin: 50px auto;
}

#our-treats section:first-child .circle {
	background: #79cfbc url("../img/product-cupcake-1.png") no-repeat center;
}

#our-treats section:nth-child(2) .circle {
	background: #79cfbc url("../img/product-cupcake-2.png") no-repeat center;
}

#our-treats section:last-of-type .circle {
	background: #79cfbc url("../img/product-cupcake-3.png") no-repeat center;
}

#our-treats section:nth-child(2) {
	margin-left: 50px;
}

#our-treats section:first-child p:last-child {
	margin-top: 85px;
}

#our-treats section:nth-child(2) p:last-child, #our-treats section:last-child p:last-child {
	margin-top: 50px;
}

#our-treats, #place-order {
	background-color: #e3e9e4;
	padding: 50px 0;
}

#our-treats .col {
	width: 300px;
	line-height: 25px;
	padding: 25px;
}

#our-treats .col:first-of-type p, #our-treats .col:nth-child(2) p, #our-treats .col:last-child p {
	font-family: 'Roboto Slab', serif;
	line-height: 35px;
	font-weight: 300;
}

#our-treats .col:first-of-type {
	float: left;
	margin: 0;
}

#our-treats .col:nth-child(2) {
	float: left;
}

#our-treats .col:last-child {
	float: right;
}

#our-treats div img {
	margin: 0 auto;
}

#our-treats .col:first-of-type a, #our-treats .col:nth-child(2) a, #our-treats .col:last-child a {
	background-color: #e9d089;
}

/* section 4 */
#daily-flavors {
	padding: 200px 0;
}

#daily-flavors .row section {
	float: left;
	width: 260px;
}

#daily-flavors .row section p {
	font-family: 'Roboto Slab', serif;
	font-weight: 300;
	line-height: 30px;
}

#daily-flavors section {
	margin: 25px 0;
	font-size: 15px;
}

#daily-flavors h3 {
	font-size: 15px;
	text-transform: capitalize;
}

#daily-flavors .row section:nth-child(2), #daily-flavors .row section:nth-child(3), #daily-flavors .row section:last-child {
	margin-left: 35px
}



